.menu {
  list-style-type: none;
  display: flex;
}
menu button,
.menu button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: rgb(60, 33, 55);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  menu button {
    font-size: 14px;
    padding: 8px 16px;
  }
}
